@using PJ_.Net_Restaurant.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_PublicLayout.cshtml";
}

<form action="" class="cartForm">
    <div class="table-list" id="list-bill">
        <div class="container container-list my-3">
            <table class="table-list-tb">
                <tr class="table-list-tr">
                    <th class="table-list-th">Name</th>
                    <th class="table-list-th">Item</th>
                    <th class="table-list-th">Date</th>
                    <th class="table-list-th">Price</th>
                    <th class="table-list-th">Quantity</th>
                    <th class="table-list-th">Total</th>
                    <th class="table-list-th">Action</th>
                </tr>
                @foreach (var i in (List<Item>)Session["cart"])
                {
                    <tr class="table-list-tr">
                        <td class="table-list-td">@i.food.name</td>
                        <td class="table-list-td">
                            <img src="~/Uploads/images/foods/@i.food.img" alt="@i.food.name">
                        </td>
                        <td class="table-list-td">@i.currentDateTime</td>
                        <td class="table-list-td">$@i.food.price</td>
                        <td class="table-list-td">
                            <div class="product-qty">
                                @i.quantity
                            </div>
                        </td>
                        <td class="table-list-td">$@(i.food.price * i.quantity)</td>
                        <td class="table-list-td">
                            <a href="@Url.Action("removeFromCart","ShopCart",new { @productID = i.food.id })" class=""><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }

                <tr class="table-list-tr">
                    @{
                        List<Item> cart = (List<Item>)Session["cart"];
                        var total = (from data in cart select data.food.price * data.quantity).Sum();
                    }
                    <td class="table-list-td"><h1>Total: $@total</h1></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="cartBtn">
        <button type="submit">
            <a href="#" class="btn btn-secondary">
                <span class="text text-1">Apply</span>

                <span class="text text-2" aria-hidden="true">Apply</span>
            </a>
        </button>
    </div>
</form>

